body {
  margin: 0;
}

.wrapper {
  width: 80%;
  margin: auto;
}

.logo, .menu {
  display: flex;
  justify-content: space-between;
}

.logo {
  position: relative;
  padding: 40px 0;
  padding-left: 45px;
  font: 20px/32px pt_serifbold, arial, helvetica, sans-serif;
  margin-right: 855px;
}

.menu {
  align-items: center;
}

.menu__item {
  padding-top: 3px;
  position: relative;
  margin-right: 23px;
  font: 500 17px/21px Roboto, arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: .5s;
}

.menu__item:last-child {
  margin-right: 0;
  white-space: nowrap;
}

.menu__item:after {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 0;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s, width .5s;
}

.menu__item:hover {
  opacity: 0.5;
}

.menu__item:hover:after, .menu__item_active:after {
  opacity: 1;
  width: 100%;
}

.header {
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;
}

.logo__circle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: .7;
}

.logo__circle_color_dark-blue {
  background: #0056EC;
}

.Logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #C8DBFB;
}

.main {
  padding: 11px 63% 181px 0;
  background: top right -5px no-repeat url('img/main-img.svg');
  background-size: 50%;
}

.main__title {
  margin-bottom: 25px;
  font: 60px/80px pt_serifbold, arial, helvetica, sans-serif;
}

.main__subtitle {
  margin-bottom: 35px;
  font: 20px/23px Roboto, arial, helvetica, sans-serif;
}

.main__button {
  display: inline-block;
  font: 17px/21px Roboto, arial, helvetica, sans-serif;
  color: #fff;
  background: #0056EC;
  padding: 15px 21px;
  text-decoration: none;
  border-radius: 4px;
  transition: all 0.3s;
}

.main__button:hover {
  background: #0c48b0;
  letter-spacing: 2px;

}

.main__button:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.main__button:hover::after {
  width 0.5s;
}
.main__title-text__highlight {
  background: #ECF3FF;
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }

  .mobile-menu {
    display: flex;
  }

  .menu__burger {
    padding: 32px 24px 0 0;
    background: right center no-repeat url(img/burger.svg);
    background-size: 25px 17px;
  }

  .header {
    margin-bottom: 20px;
    padding-top: 0;
  }

  .main {
    text-align: center;
    padding: 74% 0 0;
    background-size: 105%;
    background-position: top center;
    margin-left: 38px;
  }

  .main__title {
    padding-left: 20px;
    margin-bottom: 26px;
    font: bold 32px/42px pt_serif, arial, helvetica, sans-serif;
  }

  .main__subtitle {
    padding-left: 10px;
    margin-bottom: 26px;
    font: 500 14px/18px Roboto, arial, helvetica, sans-serif;
  }

  .main__button {
    margin-left: 12px;
   font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
  }


  .logo__text {
    display: none;
  }

  .logo {
    margin-left: 15px;
    padding-top: 39px;
    margin-right: 255px;
  }
}
